<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head(*{song.title})}">
  <title>Song</title>
</head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>

<article>
  <h1 th:text="*{song.title}">Title</h1>
  <p th:text="#{song.by(*{song.artist})}">by Artist</p>
  <p th:text="*{#temporals.format(song.released, 'MMMM d, yyyy')}">January 1, 2000</p>
  <a th:href="@{/songs(genre=*{song.genre})}" th:text="#{song.more(*{song.genre})}">More songs</a>
</article>

<footer th:insert="~{fragments/layout :: copy}"></footer>
</body>
</html>
