<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head(#{page.songs})}">
  <title>Songs</title>
</head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>

<h1 th:text="#{playlist.heading(*{songs.size()})}">Playlist</h1>
<p class="intro" th:utext="*{intro}">Intro with HTML</p>
<p class="intro-escaped" th:text="*{intro}">Intro as text</p>
<p class="added" th:if="*{added}" th:text="#{song.added(*{added})}">Song added</p>

<p class="filters">
  <a th:href="@{/songs}" th:text="#{filter.all}">All</a>
  <a th:href="@{/songs(genre='JAZZ')}">Jazz</a>
  <a th:href="@{/songs(genre='ROCK')}">Rock</a>
</p>

<p th:if="*{songs.isEmpty()}" th:text="#{playlist.empty}">No songs</p>

<table th:unless="*{songs.isEmpty()}">
  <tr>
    <th>#</th>
    <th th:text="#{song.title}">Title</th>
    <th th:text="#{song.released}">Released</th>
    <th th:text="#{song.length}">Length</th>
    <th th:text="#{song.plays}">Plays</th>
    <th th:text="#{song.genre}">Genre</th>
  </tr>
  <tr th:each="song, stat : *{songs}" th:classappend="*{stat.odd} ? 'odd'">
    <td th:text="*{stat.count}">1</td>
    <td><a th:href="@{/songs/{id}(id=*{song.id})}" th:text="*{song.title}">Title</a></td>
    <td th:text="*{#temporals.format(song.released, 'dd MMM yyyy')}">01 Jan 2000</td>
    <td th:text="*{song.durationSeconds / 60} + ':' + *{#numbers.formatInteger(song.durationSeconds % 60, 2)}">3:00</td>
    <td th:text="*{#numbers.formatInteger(song.plays, 1, 'COMMA')}">1,000</td>
    <td th:switch="*{song.genre}">
      <span th:case="'JAZZ'" class="tag jazz">Jazz</span>
      <span th:case="'ROCK'" class="tag rock">Rock</span>
      <span th:case="*" class="tag">Other</span>
    </td>
  </tr>
</table>

<footer th:insert="~{fragments/layout :: copy}"></footer>
</body>
</html>
