<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen">

<div th:replace="~{fragments/header :: header}"></div>

<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
    <div class="-m-1 flex flex-wrap md:-m-2">

        <div th:each="image : ${images}" class="flex w-1/3 flex-wrap">
            <div class="w-full p-1 md:p-2">
                <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        th:src="${image}" />
            </div>
        </div>

    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>