
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success Page</title>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        .filename {
            font-weight: bold;
        }
        .filepath {
            margin-left: 10px;
            font-size: 0.8em;
        }
    </style>
</head>
<body>
<h1>Success!</h1>
<p>You have successfully uploaded the following files:</p>
<ul>
    <li th:each="filename : ${filenames}">
        <span class="filename" th:text="${filename}"></span>
        <span class="filepath" th:text="' (' + ${fileUrl} + '/' + ${filename} + ')'"></span>
    </li>
</ul>
<br><br>
<p><b>User Information:</b></p>
<p>Name: <span th:text="${name}"></span></p>
<p>Email: <span th:text="${email}"></span></p>
<p>Phone: <span th:text="${phone}"></span></p>
<p>Address: <span th:text="${address}"></span></p>
</body>
</html>

