<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File Upload</title>
    <style>

.success-message {
color: green;
font-weight: bold;
}
.error-message {
color: red;
font-weight: bold;
}

</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
<div class="container">
    <h1 class="mt-5">File Upload</h1>
    <form th:action="@{/upload}" th:object="${fileForm}" method="post" enctype="multipart/form-data" class="form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="file">Select File:</label>
            <input type="file" name="file" id="file" class="form-control-file" />
        </div>
        <div class="mt-4">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </form>
</div>


<!-- Add condition for success -->
<div th:if="${success}" class="success-message">
    <p th:text="${success}"></p>
</div>

<!-- Add condition for error -->
<div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
</div>

<!-- Display file details -->
<table th:if="${fileForm}" class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th>User name</th>
        <td th:text="${name}"></td>
    </tr>
    <tr>
        <th>User email</th>
        <td th:text="${email}"></td>
    </tr>
    <tr>
        <th>File name</th>
        <td th:text="${fileForm.file.originalFilename}"></td>
    </tr>

    <tr>
        <th>File size</th>
        <td th:text="${fileForm.file.size} + ' bytes'"></td>
    </tr>

    <tr>
        <th>File content type</th>
        <td th:text="${fileForm.file.contentType}"></td>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

</body>
</html>