<div class="container d-flex justify-content-center">
    <div class="mt-5 row justify-content-center">

        <div class="col-10 mb-3">
            <label class="px-3">Select File: </label>
            <input type="file" (change)="selectFile($event)" />
        </div>

        <div class="col-2">
            <button class="btn btn-success btn-sm" (click)="uploadFile()">
                Upload
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="mt-5 row justify-content-center">
        <div class="col-10 mb-3">
            <ul>
                <li *ngFor="let link of fileUris">
                    <a href="{{ link }}" target="_blank">{{ link }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>